<section>
    <a href="/dashboard/blog/{{id}}">
        <div>
            <header>{{title}}</header>
            <p>Created on: {{createdAt}}</p>
        </div>
        <div>
            <p>{{content}}</p>
        </div>
    </a>
</section>